table {
  border: 1px solid #000;
  width: 900px;
/*   height: 842px; */
  margin: 1% auto;
  border-collapse: collapse;
}

tr,
th,
td {
  border: 1px solid #000;
  padding: 1%;
  text-align: center;
/*   height: 50px; */
}

tr {
	height: 30px;
}

/* td { */
/*   height: 0; */
/* } */


.print_header_text {
  width: 100%;
  text-align: center;
  border: 0;
}

.main_text {
/*   max-width: 595; */
  width: 100%;
  font-size: 30px;
  text-align: center;
  margin: 1% auto;
  font-weight: 900;
}

.print_photo_wrap {
  margin: auto;
  width: 900px;
  height: 400px;
  border: 1px solid #000;
  /* padding: 30px; */
  box-sizing: border-box;
  text-align: center;
/*   line-height: 400px; */
/*   border-bottom: none; */
}

.print_photo_wrap img {
	height: 396px;
}

.form_preview_wrap {
  text-align: center;
  padding: 0.5%;
  background-color: #3d3d3d;
  color: #fff;
}

.data_ledger_img_wrap {
	width: 16%;
}

.data_ledger_img_wrap img {
	width: 140px;
}