.search_top_text {
  float: left;
  width: 69%;
}

.search_top_wrap {
  width: 100%;
  max-width: 1320px;
  display: block;
}

.nav {
  width: 30%;
  float: left;
}

.nav-item {
  width: auto;
}

/* .search_input_wrap {
} */

.search_btn_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search_img_wrap {
  margin: auto;
  /* width: 100%; */
  width: 130px;
  height: 90px;
  border-radius: 0.5rem;
  border: 1px solid #D2D2D2;
}

.simple_view_wrap {
  border: 1px solid #000;
  width: 300px;
  height: 700px;
  position: absolute;
  right: 5%;
}

.simple_view_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.simple_view_thumb {
  width: 95%;
  height: 250px;
  background-color: #eee;
  margin: auto;
}

.simple_view_info dl {
  float: left;
  margin: 0.1rem 0;
  width: 100%;
  margin-bottom: 0 !important;
  display: flex;
  justify-content: flex-start;
}

.simple_view_info dl dt {
  margin-left: 2%;
}

.simple_view_info dl dd {
  margin-left: 2%;
}

.simple_view_footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.simple_view_footer span {
  margin: 0 1.5%;
}
