* {
  font-family: 'Noto Sans KR', sans-serif;
  /*   font-family: 'GothicA1-Light'; */
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
}

input, textarea {
	outline: none;
}

/* textarea { */
/*     padding-left: 3px; */
/*     padding-top: 3px;	 */
/* } */


ul {
  padding-left: 0;
}

input::placeholder {
  color: #d2d2d2 !important;
}

select {
  color: #7d7d7d !important;
}

button {
  font-size: 14px;
}

.card-title {
  font-weight: 900 !important;
}

.col-md-10 {
  width: 1320px;
  max-width: 100%;
}

/* table { */
/*   table-layout: auto; */
/*   text-align: left; */
/* } */

/* 커스텀 셀렉트, 검색창 */

.search_select {
  width: auto;
  /*   height: 30px; */
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  font-size: 14px;
  padding: 0.5%;
  color: #7d7d7d;
}

.custom_search_input {
  width: auto;
  /*   height: 30px; */
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  font-size: 14px;
  padding: 0.5%;
  color: #7d7d7d;
}

.custom_search_input_2 {
  width: auto;
}

.search_select_2 {
  width: auto;
}

/* 커스텀 셀렉트, 검색창 끝 */

/* 커스텀 버튼 */

.custom_btn {
  transition: 0.1s;
  font-size: 14px;
  /*   padding: 0.1% 0.5% 0.1% 0.5%; */
  border-radius: 6px;
  border: 0;
  padding: 0.5%;
  margin: auto 0.5%;
}

.custom_btn:hover {
  opacity: 0.5;
}

.exchange_rate_btn {
  font-size: 12px;
}

.btn_edit {
  background-color: #fff;
  color: #7d7d7d;
  border: 1px solid #d2d2d2;
  width: 50px;
  height: 28px;
}

.btn_reset {
  background-color: #fff;
  color: #7d7d7d;
  border: 1px solid #d2d2d2;
  width: 50px;
  height: 28px;
}

.btn_user_registration,
.btn_no_select,
.btn_in_wrap_header {
  background-color: #707070;
  color: #fff;
}

.btn_inquiry {
  background-color: #707070;
  color: #fff;
  height: 30px;
  width: 50px;
  padding: 0;
}

.btn_preferences_y {
  font-size: 14px;
  background-color: #3d3d3d;
}

.btn_preferences_n {
  font-size: 14px;
  background-color: #919191;
}

.btn_arrow {
  width: 100%;
}

.btn_preferences_user_enabled {
  background-color: #3d3d3d;
  color: #fff;
  width: 50px;
  height: 28px;
}

.btn_code_upload {
  background-color: #7288c5;
  color: #fff;
  float: right;
}

.btn_3d3d3d {
  background-color: #3d3d3d;
  color: #fff;
}

.btn_c58672 {
  background-color: #c58672;
  color: #fff;
}

.btn_707070 {
  background-color: #707070;
  color: #fff;
}

.btn_6466ab {
  background-color: #6466ab;
  color: #fff;
}

.btn_7288c5 {
  background-color: #7288c5;
  color: #fff;
}

/* .btn_add_preservation_padding { */
/*   padding: 0.1% 0.5% 0.1% 0.5%; */
/* } */

.btn_689e97 {
  background-color: #689e97;
  color: #fff;
}

.btn_c57283 {
  background-color: #c57283;
  color: #fff;
}

.btn_c28876 {
  background-color: #c28876;
  color: #fff;
}

.custom_img_list_btn {
  width: auto !important;
}

/* 커스텀 버튼 끝 */

.tap_text p span {
  font-weight: 900;
}

/* 커스텀 인풋, 버튼 영역 */

.custom_btn_wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5%;
}

.custom_prefernces_header_wrap {
  width: 100%;
}

.custom_prefernces_header_wrap_in_wrap {
  height: 50px;
}

/* 커스텀 인풋, 버튼 영역 끝*/

.tap_text {
  display: flex;
  max-width: 1320px;
  width: 100%;
  justify-content: space-between;
}

.tap_text p span {
  font-weight: 900;
}

.modal-content {
  border: none;
}

.page-content {
  padding: calc(70px + 24px) calc(24px / 2) 0 calc(45px / 2);
}

/* .pagination { */
/*   display: inline-flex; */
/*   float: right; */
/* } */

th,
td {
  text-align: center !important;
}

.main_left_menu {
  background: #232323 !important;
  border-color: #232323 !important;
}

.navbar-brand-box {
  background: #232323 !important;
  border-color: #232323 !important;
}

#sidebar-menu ul li a {
  font-size: 18px;
  font-weight: 600;
}

.page-title {
  font-size: 30px;
  letter-spacing: -3px;
  color: #232323;
  font-weight: 900;
}

.mm-collapsed {
  color: #b9b9c1 !important;
}

#sidebar-menu ul li ul.sub-menu li a {
  color: #b9b9c1 !important;
  letter-spacing: -1px;
}

.has-arrow {
  color: #b9b9c1 !important;
}

.sub-menu {
  background-color: #3d3d3d;
}

/* .sub-menu li a {
  font-size: 14px;
} */

.dash_text {
  color: #ff7700 !important;
  font-size: 12px;
  opacity: 1;
  text-transform: none;
}

.main-content {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* 보더 레디우스 */
.isvertical-topbar {
  /* border-radius: 0; */
  top: -5px;
  /*   z-index: 1111; */
}

.vertical-menu::before {
  background-color: #eeeeee !important;
}

.navbar-header {
  height: 47px;
  border-radius: 47px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/* ---------- 자료 신규등록 ---------- */

.img-slider {
  position: relative;
  width: 100%;
  height: 250px;
}

.slick-arrow {
  position: absolute;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}

.slider_warp {
  position: relative;
}

.slick-slide img {
  height: 250px;
  margin: auto;
}

.slider_count_wrap {
  background-color: #000;
  position: absolute;
  z-index: 1;
  padding: 0 1.5% 0 1.5%;
  right: 2%;
  bottom: 2%;
  color: #fff;
  border-radius: 6px;
  opacity: 0.7;
  font-size: 14px;
}

.form-control {
  border-radius: 0.5rem;
}

/* .fr_wrap {
  width: 50%;
  display: inline;
} */

.fr_wrap {
  width: 100%;
  margin: 1% auto;
}

.fr_1 {
}

.fls {
  width: 7.5% !important;
}

.btn_ml {
  margin-left: 0.5%;
  border-radius: 0.5em;
  width: auto;
  background-color: #707070;
}

.col-md-2 {
  font-size: 18px;
  width: auto;
  font-weight: 600;
}

.form-select,
.form-control {
  width: auto;
  /* float: left; */
  border-radius: 0.5rem;
  display: inline-block;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #3d3d3d;
  color: #fff;
}

.nav-tabs {
  border-bottom: none;
}

.nav-item {
  width: 20%;
  text-align: center;
}

.nav {
  font-size: 18px;
  justify-content: space-around;
  max-width: 1320px;
  width: 100%;
  background-color: #fff;
  border-radius: 15px 15px 0px 0px;
  margin-left: 0.5%;
  z-index: 99;
  position: relative;
}

.ml_1, .col-form-label {
	margin-left: 1%;
}

.tab-content {
  margin-top: 0.5%;
  margin-left: 0.5%;
  max-width: 1320px;
  width: 100%;
  padding: 0 !important;
}

.kor_sl {
  width: auto !important;
}

.in_date {
  width: 100%;
}

/*  */
/* 탭컨텐츠 */

.mb-0 {
  margin: 1% 0;
  border-radius: 0.5rem;
  margin-top: 0.5%;
  max-width: 1320px;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  font-size: 16px;
/*   z-index: 99; */
/*   position: relative; */
}

.st_title {
  color: #3d3d3d;
  font-size: 18px;
}

.btn_m2 {
  font-size: 12px;
}

.st_wrap {
  width: 100%;
/*   margin: 1rem auto; */
  display: inline-block;
}

.tr_bgc {
  width: 100%;
  background-color: #dfdfdf;
  text-align: center;
}

.tr_bgc th:first-child {
  border-radius: 10px 0 0 10px !important;
}

.tr_bgc th:last-child {
  border-radius: 0 10px 10px 0;
}

.card-body {
  position: relative;
  padding: 0;
  /* text-align: center; */
}

.st_select,
.st_input {
  width: 100%;
}

.st_inp_tbox {
  width: 100%;
  min-height: 75px;
  height: auto;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  padding: 0.47rem 0.75rem;
}

.st_inp_tbox::placeholder {
  color: #d2d2d2;
}

/* input::placeholder {
  font-size: 0.7rem !important;
} */

.st_inbox {
  width: 100%;
}

/* .col-md-10 {
  width: 100% !important;
  display: inline;
} */

/* th { */
/*   line-height: 2.2rem !important; */
/* } */

.ser_sel {
  display: inline-block;
  width: auto;
  min-width: 10%;
  margin-left: 0.5%;
}

.pri {
  /*   width: auto !important; */
  /*   min-width: 49%; */
}

.accordion {
  width: 200px;
  float: right;
  box-shadow: 0px 3px 8px #7d7d7d29;
  border-radius: 15px;
  position: absolute;
  top: 270px;
  right: 0;
}

.accordion-body {
  background-color: #fff;
}

.accordion-body ul li {
  list-style: none;
  line-height: 2rem;
}

.accordion-body ul li a {
  text-decoration: none;
  color: #707070;
  font-size: 14px;
}

.accordion-item:first-of-type .accordion-button {
  background-color: #3d3d3d;
  color: #fff;
  font-size: 16px;
  font-weight: 900 !important;
}

.table > :not(caption) > * > * {
  border-bottom-width: 0;
  vertical-align: middle;
}

.cd_df {
  display: flex;
}

.tr_left {
  width: 25%;
  /* height: 300px; */
  /* float: left; */
  /* background-color: rgb(194, 194, 194); */
}

.tr_right {
  width: 100%;
  display: block;
  /* float: right; */
  padding-left: 1%;
  margin:3% auto 0;
}
/*  */

/*  */
/* 이동 사항 */

.mv-modal-header {
  background-color: #3d3d3d;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.mv-modal-body {
  background-color: #eeeeee;
}

.btn_save {
  margin: auto;
  display: block;
  background-color: #c58672;
  border: none;
}

.move-wrap {
  width: 49%;
  float: left;
  margin: 0.5%;
}

/* .mv_modal {
  width: 50%;
  display: -webkit-inline-box;
} */

.modal-dialog {
  max-width: 1300px !important;
  width: 100%;
}

.btn_wh {
  color: #7d7d7d;
  padding: 0.3rem 1.2rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d2d2d2;
}

.st_mv_wrap {
  display: flex;
  justify-content: space-between;
  margin: 0.1% auto;
}

/* .st_title_wrap { */
/*   width: 80%; */
/* } */
/* .move_btn { */
/*   width: 20%; */
/* } */

.btn_ex {
  background-color: #74957b;
  color: #fff;
}

/*  */
/* 이미지 */

.img-nav {
  font-size: inherit;
  justify-content: left;
}

.img-nav-item {
  width: 33%;
  background: none;
}

.img-row {
  justify-content: left;
}

.img-col {
  background-color: #fff;
  box-sizing: border-box;
  margin: 0.3%;
  width: 253px;
  height: 440px;
  border-radius: 15px;
  box-shadow: 0px 3px 8px #7d7d7d29;
}

.img-col_2 {
	margin: 1.3%;
}

/* .img-col-header input { */
/* } */

.img-col-header {
  vertical-align: middle;
  font-size: 12px;
  padding: 1% 0 1% 0;
  display: inline-block;
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.img-col-img-wrap {
  display: block;
  width: 234px;
  height: 234px;
  background-color: rgb(66, 66, 66);
}

.img-col-info {
  font-size: 12px;
  width: 100%;
  margin: 0.5rem 0 0;
}

.img-col-info dl dt {
  float: left;
}

.img-col-info dl {
  float: left;
  margin: 0.2rem 0;
  width: inherit;
  margin-bottom: 0 !important;
}

.img-col-info dl dd {
/*   float: left; */
  margin-bottom: 0 !important;
  margin-left: 0.2rem;
}

.img-col-info-title {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;	
}

dt {
    font-weight: inherit;
}

.img-col-info-check-wrap {
	display: flex;
}


.img-info_btn {
  margin-right: 0.1rem;
  font-size: 12px;
  width: auto;
  float: left;
}

/* .img-col-img-wrap a { */
/* } */

.img-col-img-wrap {
  width: 100%;
  position: relative;
}

.img-hover-info {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(160, 160, 160, 0.438);
  display: none;
}

.img-col-img-wrap:hover .img-hover-info {
  display: block;
}

.img-col-img-wrap a img {
  width: 100%;
  height: 100%;
}

.img-btn-wrap {
  float: right;
  width: 100%;
  text-align: right;
}

.img-btn-wrap dt {
  float: left;
}

.img-btn {
  float: right;
  width: 100%;
  text-align: right;
}

.img-select {
  /*   width: auto; */
}

/*  */
/* 보존처리 */

.ac_btn {
}

/*  */
/* 전문정보 */

.pro_info {
  width: auto;
}

.pro-wrap {
  width: 100%;
}

.pro-modal-content {
  width: 50%;
  margin: auto;
  height: 100%;
}

/*  */
/*  */

.login_video {
  width: 100%;
}

.login_main_bg {
  background: none;
}

.login_main_text {
  width: 100%;
}

.bg_wrap {
  /* background: url('../custom_img/intro_video_2.mp4') !important; */
  width: 100%;
}

.input-file-button {
  background-color: #ff6600;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.filebox .upload-name {
  display: inline-block;
  height: 30px;
  border: 1px solid #dddddd;
  width: 50%;
  color: #999999;
}

.filebox label {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 40px;
  margin-left: 10px;
}

.filebox input[type='file'] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.page_num {
  display: inline-block;
}
.auto_btn_left {
  width: 50%;
}

.btn_add_save_wrap {
  text-align: center;
}

.nav-pills .nav-link.active {
  background-color: #3d3d3d !important;
  color: #fff;
}

.btn_img_tap_li {
	margin-left: 1%;
}

.btn_img_tap {
  width: 68px;
  height: 40px;
  line-height: 40px;
  color: #3d3d3d;
  background-color: #fff  !important;
  transition: 0.2s;
  font-weight: 500;
}

.btn_add_preservation_wrap {
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  margin: 0.5% auto;
}

.page_current_num,
.page_total_num {
  display: inline-block;
}

.search_left {
  width: 100%;
  margin: 1% auto;
}

.search_btn_left,
.auto_btn_left,
.st_title_wrap {
  width: 100%;
}

.search_btn_right,
.auto_btn_right,
.move_btn {
  width: 100%;
  float: right;
  text-align: right;
  margin: auto;
}

.accordion-body_2 {
  border-radius: 0px 0px 15px 15px;
}

.tr_bgc td,
.tr_bgc th {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #253025;
}

.table_2nd_row_wrap {
  display: flex;
  justify-content: space-around;
}

.table_2nd_row_wrap_2 {
	width: 100% !important;
}

.search_btn_wrap {
  margin: 0 0 1% 0;
}

/* 상세검색 모달 */

.detail_search_modal_width_1 {
  width: 15%;
}

.detail_search_modal_wrap {
  table-layout: fixed !important;
  width: 860px !important;
}

.dash_main_wrap {
  background-color: #878787;
}

.main_1550px {
	max-width: 1550px;
	width: 100%;
}

.quick_menu_right_wrap {
	width: 200px;
    float: right;
}

.dash_main_wrap th {
  color: #fff !important;
  border: none !important;
}

.dash_main_frist_table tbody tr {
  border-bottom: 1px solid #fff;
}

.dash_main_frist_table,
.dash_main_frist_wrap {
  background: none;
}

.dash_main_frist_text_margin {
  margin-top: 10%;
}

.dash_main_frist_wrap {
  border: 3px solid #ffffff;
}

.dash_main_frist_table_last_border tbody tr:last-child {
  border-bottom: 0 !important;
}

.wrap_bgn {
  background: none !important;
}

.last_data_info_wrap {
  margin-top: 5%;
}

.dash_recent_work_table {
  width: 96% !important;
  margin: auto;
}

.dash_recent_work_table tbody tr {
  border-bottom: 1px solid #000 !important;
}

.dash_recent_work_table tbody tr:last-child {
  border-bottom: 0 !important;
}

.quantity_wrap {
  font-size: 12px !important;
  color: #7d7d7d !important;
}

.quantity_wrap_number {
  font-size: 24px !important;
  color: #7d7d7d !important;
}

.data_info_text_wrap span {
  font-size: 14px;
  color: #7d7d7d !important;
}

/* .dash_main_frist_table_last_border tr td:first-child { */
/* 	text-align: left !important; */
/* } */

.dash_notice_border tbody tr {
  border-bottom: 1px solid #dadada !important;
}

.dash_notice_border tbody tr:last-child {
  border-bottom: 0 !important;
}

.dash_notice_border,
.rental_li,
.dash_main_frist_table,
.dash_recent_work_table {
  font-size: 14px !important;
}

/* .dash_text_bar_wrap { */
/* 	width: 60px; */
/* 	display: inline-block; */
/* } */

/* .dash_text_bar { */
/* 	width: 100%; */
/* 	height: 3px; */
/* 	background: #707070; */
/* } */

/* .flex-grow-1_custom { */
/* 	width: 50px; */
/* } */

.icon-demo-content i,
.icon-demo-content svg {
  border: none;
}

/* .float_right_btn_wrap { */
/* 	float: right; */
/* } */

.mb-3 {
  margin-bottom: 0 !important;
}

.btn_mypage {
  width: 50px;
  height: 28px;
}

.view_border_1 {
	width: 13%;
}

.view_border_1, .view_border_2 {
	height: 58px;
}

.table>:not(caption)>*>* {
	padding: 0.5rem 0.5rem;
}

/* .table > :not(caption) > * > * { */

/* } */



.user_in_modal_wrap {
	width: 610px !important;
	height: 652px !important;
}


.user_in_modal_input_1 {
	float: left;
    width: 342px;
    height: 40px;
}

.user_in_modal_input {
	width: 430px;
	height: 40px;
}

.tag_in_modal_input {
	width: 348px;
	height: 40px;
}

.user_in_modal_footer_wrap {
	display: flex;
    justify-content: center;
    margin: 3% auto 1%;
}

.user_in_modal_footer_btn {
	width: 68px !important;
	height: 40px !important;
} 

.btn_707070_7040 {
	width: 70px;
    height: 40px;
}


.group_in_modal_wrap,
.mypage_edit_modal_wrap,
.notice_edit_modal_wrap,
.faq_edit_modal_wrap,
.preferences_deit_modal_wrap_2 {
	width: 610px !important;
	height: 459px !important;
}

.preferences_deit_modal_wrap {
	width: 620px !important;
	height: 459px !important;
}

.tag_in_modal_input_2 {
	width: 425px;
	height: 40px;
}

.user_in_modal_input_3 {
	width: 405px;
	height: 40px;
}

.user_in_modal_input_4 {
	width: 370px;
	height: 40px;	
}

.btn_707070_5440 {
	width: 54px;
	height: 40px;
}



.btn-group {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}

/* .table>:not(:first-child) { */
/* 	border-top: 0 solid #eff0f2 !important; */
/* } */


.user_mgt_btn {
	width: 54px !important;
	height: 22px !important;	
}


input[type="checkbox"]{
        margin-right: 0.2rem;
      }


.btn_c58672_5028 {
	width: 50px;
	height: 28px;
}


/* 소장구분, 명칭 테이블 스타일 - 시작 */

/* .tbh tbody tr td:nth-child(4) { */
/*   transition: 0.2s; */
/* } */

/* .tbh tbody tr td:nth-child(4):hover { */
/*   background-color: #707070; */
/*   color: #fff; */
/*   cursor: pointer; */
/* } */

.tbh tbody tr td:nth-child(7) {
  font-weight: 600;
  color: #3b76e1;
  cursor: pointer;
  transition: 0.2;
}

.tbh tbody tr td:nth-child(7):hover {
  text-decoration: underline;
   color: #1C52B4;
}
* {
  font-family: 'Noto Sans KR', sans-serif;
  /*   font-family: 'GothicA1-Light'; */
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 소장구분, 명칭 테이블 스타일 - end */


.tbh tbody tr:hover {
  background-color: #d0d0d0;
  color: #fff;
  cursor: pointer;
}

/* 보존처리 아코디언 영역+버튼 */

.accordion-header {
    display: flex;
    justify-content: space-between;	
}

.accordion-button {
	height: 100%;
}

.preservation_into_wrap_left {
	width: 100%;
}

.nav-item_2 {
	width: 16.6%;
}

.btn_232323 {
	color: #fff;
	background-color: #232323;
	width: 54px;
	height: 28px;	
}

.btn_c58672_6840 {
	width: 68px;
	height: 40px;
}

.btn_ori_view {
	width: 80px;
}

.img-tag a {
	color: #fff;
}

.preservation_wrap {
	margin-bottom: 0!important;
    margin-top: 0 !important;
    padding: 0 !important;
}

.quick_menu {
     right: auto;
}


.data_table_wrap_left tr td,
.data_table_wrap_left_2 tr td {
	text-align: left !important;
}

.data_table_wrap_left tr td:nth-child(1),
.data_table_wrap_left tr td:nth-child(3) {
	width: 12%;
}

.data_table_wrap_left_2 tr td:nth-child(1),
.data_table_wrap_left_2 tr td:nth-child(3) {
	width: 12%;
}

.data_table_wrap_left tr td:nth-child(2),
.data_table_wrap_left tr td:nth-child(4) {
	width: 38%;
}

.data_table_wrap_left_2 tr td:nth-child(2),
.data_table_wrap_left_2 tr td:nth-child(4) {
	width: 38%;
}


input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.img-card-body_wrap {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #D2D2D2;
	border-radius: 6px;	
}


/* svg { */
/* 	fill: #fff !important; */
/* } */


.preservation_before_img_btn {
	
}
