.setting_thead {
  background-color: #f4f4f4;
  margin-top: 1% !important;
}

.center_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

/* .user_control_wrap button { */
/*   float: right; */
/* } */

table {
  table-layout: fixed;
}

/* .mb-0 {
  background-color: transparent;
} */

.find_code_btn {
  float: left !important;
}

.code_find_wrap {
  width: 95%;
  height: 300px;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  margin: 1% auto;
  overflow: scroll;
  overflow-x: auto;
}
/* 보관처 구조 트리메뉴 */
.tree {
  margin-top: 5px;
}
.tree,
.tree ul {
  list-style: none; /* 기본 리스트 스타일 제거 */
  padding-left: 10px;
}
.tree *:before {
  width: 15px;
  height: 15px;
  display: inline-block;
}
.tree label {
  cursor: pointer;
  font-size: 14px;
}
.tree label:hover {
  color: #00aacc;
}
.tree label:before {
  content: '+';
}
.tree label.lastTree:before {
  content: 'o';
}
.tree label:hover:before {
  content: '+';
}
.tree label.lastTree:hover:before {
  content: 'o';
}

.tree input[type='checkbox'] {
  display: none;
}

.tree input[type='checkbox']:checked ~ ul {
  display: none;
}

.tree input[type='checkbox']:checked + label:before {
  content: '-';
}
.tree input[type='checkbox']:checked + label:hover:before {
  content: '-';
}

.tree input[type='checkbox']:checked + label.lastTree:before {
  content: 'o';
}
.tree input[type='checkbox']:checked + label.lastTree:hover:before {
  content: 'o';
}