.id_check_wrap {
  margin: 3% auto;
  width: 50%;
}

.id_check_wrap button {
  display: block;
  margin: 2% auto;
}

.id_check_main_text {
  text-align: center;
  font-size: 2rem;
}

.id_check_text_wrap {
  display: flow-root;
  padding: 5% 0 5% 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 60%;
  margin: auto;
}

.id_check_text_wrap dl {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.id_check_text_wrap dl dt,
dd {
  float: left;
}

.id_check_text_wrap dl dt span {
  color: red;
}
