.nav {
/*   max-width: 20%; */
  width: 100%;
  float: left;
  margin-bottom: 1%;
}

.nav-item {
  width: auto;
}

.user_control_wrap {
  display: flex;
}

.user_control_letf,
.user_control_right {
  width: 49%;
  margin: 0.5%;
}

.control_card_header {
  display: flex;
  justify-content: space-between;
}

.user_control_card_wrap {
  padding: 0.5%;
}

.user_control_text {
  display: flex;
  justify-content: space-between;
}

.user_control_border {
  border-right: 2px solid #ececec !important;
}

.user_control_bd tr td {
  border-bottom: 2px solid #ececec !important;
}

.user_control_bd2 tr td {
  border-right: 2px solid #ececec !important;
}

.user_control_bd2 tr td:last-child {
  border-right: none !important;
}

.menu_auth_small {
  text-align: left;
  padding-left: 5% !important;
}

.menu_auth_middle {
  text-align: left;
}
